*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(1, 1, 94),rgb(79, 143, 168));
  height: 100vh;
  width: 100%;
}
.inp{
  border: 1px solid blue;
  outline: none;
}
#search-result{
  display: none;
}